<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.consultationpoint">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ConsultationApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConsultationPoint">
        <activity android:name=".patient.chat.roomInfo.RoomInfoActivity" />
        <activity android:name=".patient.userProfile.UptPntProfileActivity" />
        <activity android:name=".patient.appointment.allAppointments.AllAppointmentsActivity" />
        <activity android:name=".patient.chat.chatScreen.ChatScreenActivity" />
        <activity android:name=".general.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".patient.userProfile.UserProfileActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".patient.doctor.DoctorDetailsActivity" />
        <activity android:name=".patient.appointment.bookAppointment.ChooseTimeActivity" />
        <activity android:name=".general.LoginActivity" />
        <activity android:name=".general.RegisterActivity" />
        <activity
            android:name=".patient.bottomNavigation.BottomNavigationActivity"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.app.consultationpoint"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>

        <receiver
            android:name=".notification.RemainderBroadcast"
            android:enabled="true"
            android:exported="false" >
        </receiver>
    </application>

</manifest>