<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!--    <uses-permission android:name="android.permission.USE_FINGERPRINT" />-->

    <application
        android:name=".ConsultationApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConsultationPoint"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".general.OnBoardingActivity"
            android:exported="true" />
        <activity android:name=".patient.chat.roomInfo.RoomInfoActivity" />
        <activity android:name=".patient.userProfile.UptPntProfileActivity" />
        <activity android:name=".patient.appointment.allAppointments.AllAppointmentsActivity" />
        <activity android:name=".patient.chat.chatScreen.ChatScreenActivity" />
        <activity
            android:name=".general.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".patient.userProfile.UserProfileActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".patient.doctor.DoctorDetailsActivity" />
        <activity android:name=".patient.appointment.bookAppointment.ChooseTimeActivity" />
        <activity android:name=".general.LoginActivity" />
        <activity android:name=".general.AddBiometricActivity" />
        <activity android:name=".general.RegisterActivity" />
        <activity
            android:name=".patient.bottomNavigation.BottomNavigationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.app.consultationpoint"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_path" />
        </provider>

        <receiver
            android:name=".notification.RemainderBroadcast"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>